@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    float: left;
    width: 32px;
    height: 32px;
    background: #2D303A;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 30px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.github a:hover {background: #191919; color: #fff;}
.youtube a:hover {background: #c4302b; color: #fff;}
.google-pluse a:hover {background: #DD4B39; color: #fff;}
.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}



p, h1 h2 {
 font-family: 'Lato', sans-serif;
}

a:hover {
    background: rgb(62, 49, 179); 
    color: #ffe;
}
a:link {
    color: #0000d0; 
    padding: 2px; 
   }
.header {
    background-color: #2D303A;
    height: 89px;
    border-bottom: 5.25px solid blue;
}



.logo img {
    margin: 29px 0px 35px 40px;
    float: left;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0px 0px; 
}
ul li {
    display: inline;    
}
.navigation a {
    text-decoration: none;
}
 #home  { 
     color: red;
 }
 main {
    margin: 0 40px 0 40px;
 }

 .container {
     padding: 30px;
     
     border: none;
 }

 .container {
     display: flex;
     justify-content: space-around;
<<<<<<< HEAD
     position: relative;
=======
>>>>>>> 71fe98f3224f4ba905eeb488a74c6e8fa011907c
 }

 .flex-container {
width: 75%;
margin: auto;
overflow: hidden;


}

 .flex-size {
    display: flex;
    width: 100%;
<<<<<<< HEAD
    
 }

 .flex-size img {
    width: 100%;
}

 .container #prevBtn {
   position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: black;
    cursor: pointer;
 }
 .container #nextBtn {
  position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
=======
 }

 .flex-size img {
    width: 100%;
}

 #prevBtn {
   
    top: 10%;
    
    z-index: 10;
    left: 50%;
    font-size: 50px;
    color: black;
    cursor: pointer;
 }
    #nextBtn {
  
    top: 50%;
    z-index: 10;
    right: -90%;
    font-size: 50px;
>>>>>>> 71fe98f3224f4ba905eeb488a74c6e8fa011907c
    color: black;
    cursor: pointer;
}
  




.text { 
margin: 0 40px 0 40px;
display: flex;
flex-wrap: wrap;

}
.body-text {
    padding: 0 15px 0 15px;
}
.text-2 {
width: 33.3%; 
display: flex;

}
.text-ico {
    text-align: center;
    width: 30px;
    height: 30px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 18px 10px 10px 0;
    padding: 10px;
    color: #000;
}
 h1, h2 {
 padding: 59px 0px 0px 0px;
}
section {
background: #2D303A;
padding: 0px 0 68px 0;
}
.portfolio {
 margin: 59px 0px 0px 40px;
 color: #666D89;
}

.border-portfolio a {
border: 1px solid #767E9E;
box-sizing: border-box;
border-radius: 5px;
display: flex;
margin: 0 5px;
display: inline-block;
color: #666D89;
text-decoration: none;
}

.picture-marg {
    margin: 20px 0px 68px 40px;
}

.picture img {
    width: 14%;
    padding: 0 20px 20px 0; 
}  
.body-picture {
    width: 100%;
}

footer {
    border-top: 5.25px solid blue;
    background-color: #2D303A;
    height: 76px; 
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
}
.social {
  display: flex; 
}
.copiright a {
text-decoration: none;
}

@media (min-width: 750px) and (max-width: 1020px) { 

.text-2 {
    width: 50%; 
    display: flex;
}
.picture-marg {
    margin: 20px 20px 65px 40px;

}
.picture img {
    width: 29%;
    padding: 0 20px 20px 0;     
}
}
@media (min-width: 600px) and (max-width: 749px) { 

.text-2 {
    width: 50%; 
    display: flex;
}
    .picture-marg {
        margin: 20px 20px 65px 40px;
    }
    .picture img {
        width: 29%;
        padding: 0 20px 20px 0;     
    }
    .footer {
        display: flex;
        justify-content: center;
    }
    .social {
      display: flex; 
    }
    .copiright  {
    display: none;
    }
}

@media (min-width: 375px) and (max-width: 599px) {
       
#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #2D303A;
margin: 0px;
padding: 0px;
left: -250px;
    }
    ul li {
        display: block; 
        padding:  15px;
        }
        .navigation {
            display: block;
            padding: 20px 20px 0px 0px;
            margin: 0 30px;  
        }
   #sidebar .button {
position: absolute;
left: 270px;
top: 20px;
background: #2D303A;
padding: 10px;
cursor: pointer;
border-radius: 6px;
   }
#sidebar .button span {
    display: block;
    width: 25px;
    height: 4px;
    background: white;
    margin: 4px;
}
#sidebar.exit {
    left: 0px;
}
        .logo {
            display: flex;
            justify-content: center;
            }
        .text-2 {
            width: 100%; 
            display: flex;
        }
        .border-portfolio a {
            margin: 0 3px;
        }
        .picture-marg {
            margin: 20px 20px 0px 30px;
        }
        .picture img {
            width: 42%;
            padding: 0 20px 20px 0;     
        }
            .footer {
                display: flex;
                justify-content: center;   
            }
            .social {
              display: flex; 
            }
            .copiright  {
            display: none;
            }
            footer {
                border-top: none;
            }
            .header { 
                border-bottom: none;
            }
}
@media  (max-width: 374px) {
    #sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        background: #2D303A;
    margin: 0px;
    padding: 0px;
    left: -250px;
        }
        ul li {
            display: block; 
            padding:  15px;
            }
            .navigation {
                display: block;
                padding: 20px 20px 0px 0px;
                margin: 0 30px;  
            }
       #sidebar .button {
    position: absolute;
    left: 270px;
    top: 20px;
    background: #2D303A;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
       }
    #sidebar .button span {
        display: block;
        width: 25px;
        height: 4px;
        background: white;
        margin: 4px;
    }
    #sidebar.exit {
        left: 0px;
    }

        .logo {
        display: flex;
        justify-content: center;
        }
        .text-2 {
            width: 100%; 
            display: flex;
        }
                
            .body-picture {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .picture-marg {
                margin: 20px 20px 0px 20px;
            
            }
            .picture img {
                width: 100%;
                padding: 0 20px 20px 0;     
            }
            .footer {
                display: flex;
                justify-content: center;
               
            }
            .social {
              display: flex; 
            }
            .copiright  {
            display: none;
            }
            footer {
                border-top: none;
            }
            .header { 
                border-bottom: none;
            }
            .border-portfolio a {
                margin: 0 2px;
            }
}